name: Deploy

on:
  push:
    branches: ["main"]

env:
  HOST_NAME: fall2022-comp585-3.cs.mcgill.ca
  USER_NAME: team-3
  FOLDER_NAME: Team-3
  CANARY_DIR: ~/.tmp/$FOLDER_NAME
  APP_SHA: ${{ github.sha }}

jobs:
  deploy-canary:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2.3.4

      - name: Copy files to McGill server
        uses: appleboy/scp-action@master
        env:
          KEY: ${{ secrets.SSH_KEY }}
          HOST: ${{ env.HOST_NAME }}
          USERNAME: ${{ env.USER_NAME }}
          RM: true
        with:
          source: "*"
          target: ${{ env.CANARY_DIR }}

      - name: Start Docker
        uses: appleboy/ssh-action@master
        env:
          KEY: ${{ secrets.SSH_KEY }}
          HOST: ${{ env.HOST_NAME }}
          USERNAME: ${{ env.USER_NAME }}
        with:
          script: |
            cd ${{ env.CANARY_DIR }}
            export GITHUB_SHA=${{ env.APP_SHA }}
            ./docker.sh start-canary

  release:
    runs-on: ubuntu-latest
    needs: deploy-canary
    steps:
      - name: Wait for approvals
        uses: trstringer/manual-approval@v1
        with:
          secret: ${{ github.TOKEN }}
          approvers: Shanzid01,WeienLi,ChenKua,msoutojr,Pr0m1s3zZ
          minimum-approvals: 1
          issue-title: "Release ${{ env.APP_SHA }}"

      - name: Copy files to McGill server
        uses: appleboy/scp-action@master
        env:
          KEY: ${{ secrets.SSH_KEY }}
          HOST: ${{ env.HOST_NAME }}
          USERNAME: ${{ env.USER_NAME }}
          RM: true
        with:
          source: "*"
          target: ${{ env.FOLDER_NAME }}

      - name: Release app
        uses: appleboy/ssh-action@master
        env:
          KEY: ${{ secrets.SSH_KEY }}
          HOST: ${{ env.HOST_NAME }}
          USERNAME: ${{ env.USER_NAME }}
        with:
          script: |
            cd ${{ env.FOLDER_NAME }}
            export GITHUB_SHA=${{ env.APP_SHA }}
            ./docker.sh release

      - name: Remove canary
        if: ${{ always() }}
        uses: appleboy/ssh-action@master
        env:
          KEY: ${{ secrets.SSH_KEY }}
          HOST: ${{ env.HOST_NAME }}
          USERNAME: ${{ env.USER_NAME }}
        with:
          script: |
            cd ${{ env.CANARY_DIR }}
            ./docker.sh stop-canary
            rm -r ${{ env.CANARY_DIR }}
